<div ng-controller="footerCtl" ng-cloak id="footer" class="col-md-12">
    <p><br/></p>
    <footer>
        <p>© Saúde Advisor 2015</p>
        <p>Aqui você encontra informações de qualidade sobre centros médicos em todo o Brasil. <br/>
            Nosso objetivo é ajudar pessoas a encontrar bons hospitais, clínicas e laboratórios para ser bem atendido,
            economizar tempo e ter seu problema de saúde resolvido.  <br/>
            As informações disponíveis no site são coletadas através do Ministério da Saúde e de depoimentos de
            pacientes e familiares que em algum momento precisaram de atendimento médico.</p>
    </footer>
</div>