<div ng-controller="footerCtl" ng-cloak id="footer" class="col-md-12">
    <p><br/></p>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: center;">
            <button ng-show="!contato" type="submit" class="btn btn-warning" ng-click="contato = true;">Entre em contato com a gente</button>
            <div ng-show="contato">
                <div class="row" ng-show="!sentContact">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="nome"><span class="glyphicon glyphicon-user"></span></span>
                            <input ng-model="Contact.Name" name="contactName" type="text" class="form-control" placeholder="Nome" aria-describedby="nome">
                        </div>
                        <p></p>
                        <div class="input-group">
                            <span class="input-group-addon" id="email"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input ng-model="Contact.Email" type="text" class="form-control" placeholder="Email" aria-describedby="email">
                        </div>
                        <p></p>
                        <div class="input-group">
                            <span class="input-group-addon" id="com"><span class="glyphicon glyphicon-align-justify"></span></span>
                            <textarea ng-model="Contact.Descricao" class="form-control" placeholder="Comentário" rows="3" id="comment"></textarea>
                        </div>
                        <p></p>
                        <button type="submit" class="btn btn-success" ng-click="sendContact()">Enviar</button>
                        <p></p>
                        <div style="margin-top: 6px;" ng-show="messageContact.length>0" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-remove"> </span><span>  {{messageContact}}</span></div>
                    </div>
                </div>
                <div class="row" ng-show="sentContact">
                    <div style="margin-top: 6px;" class="alert alert-success" role="alert"> <span class="glyphicon glyphicon-ok"> </span> <span>  {{agradeceContact}}, sua mensagem foi enviada. <br/>Muito obrigado!</span></div>

                </div>
            </div></div>
        <div class="col-sm-4"></div>
    </div>

    <p><br/></p>
    <footer>
        <p>© Saúde Advisor 2015</p>
        <p>Aqui você encontra informações de qualidade sobre centros médicos em todo o Brasil. <br/>
        Nosso objetivo é ajudar pessoas a encontrar bons hospitais, clínicas e laboratórios para ser bem atendido,
        economizar tempo e ter seu problema de saúde resolvido.  <br/>
        As informações disponíveis no site são coletadas através do Ministério da Saúde e de depoimentos de
        pacientes e familiares que em algum momento precisaram de atendimento médico.</p>
    </footer>
</div>