<nav ng-controller="navCtl" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="img-brand" src="/img/logo40.png" title="Saude Advisor" alt="Saude Advisor" />Saúde Advisor</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <p></p>
            <ul class="nav navbar-right">
                <li><a href="/cadastro/" alt="Cadastre seu centro médico">Cadastre seu centro médico</a></li>
            </ul>
        </div>
    </div>
</nav>