<nav ng-controller="navCtl" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="img-brand" src="/img/logo40.png" title="Saude Advisor" alt="Saude Advisor" />Saúde Advisor</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"  type="button"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="javascript:window.history.go(-1)" type="button"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                <li><input style="margin-top: 8px;" ng-enter="getSearch();" class="form-control" placeholder="Encontrar centro médico" ng-model="searchNav" type="text"></li>
                <li><a href="#"  ng-click="getSearch();" ><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
    </div>
</nav>