<!DOCTYPE html>
<html ng-app="buscaSaude">
<head lang="pt-BR">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="dicas de hospitais, encontre, dicas de clinicas, dicas de laboratorios, mapa, bom atendimento, avaliacoes, opinioes, postos de saude">
    <meta name="description" content="Encontre bom atendimento, informações, avaliações e comentários sobre hospitais, clínicas, laboratórios e postos de saúde no Brasil">
    <meta name="title" content="Saúde Advisor">
    <meta property="og:title" content="Saúde Advisor">
    <title>Saúde Advisor - Hospitais, clínicas, postos de saúde e laboratórios</title>
    <!-- #include virtual="/partials/styles.html" -->
</head>
<body ng-controller="mainCtl">
<div>
    <!-- #include virtual="/partials/nav-main.html" -->
    <div class="jumbotron bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 h1-black">
                    <h1>Encontre bons hospitais, clínicas <br/> e laboratórios em todo o Brasil</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="centro">
            <div class="row">
                <div class="col-sm-7">
                <div class="row" id="pesquisaBox">
                    <div class="col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title" style="font-size: 20px;"><span class="glyphicon glyphicon-star-empty"></span> Centro Médico</h2>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="img/icon-search.png" class="img-responsive" />
                                            </div>
                                            <div class="col-sm-7">
                                                <h4>Saiba mais sobre o centro médico que você conhece</h4>
                                            </div>
                                        </div>

                                        <div class="row" >
                                            <div class="col-sm-12">
                                                <p></p><p><br/></p>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="cep" style="font-size: 24px;"><span class="glyphicon glyphicon-search"></span></span>
                                                    <input ng-enter="getUnidadeName()" type="text" ng-model="name" class="form-control" aria-describedby="cep" style="font-size: 20px; height:50px; width: 100% !important">
                                                </div><p></p>
                                            </div>
                                            <div class="col-sm-12" ng-cloak>
                                                <p></p>
                                                <button type="submit" ng-click="getUnidadeName();" class="btn btn-success" style="font-size: 20px; margin-top: 10px; margin-bottom: 20px; height:50px; width: 100% !important">Buscar por {{name}}</button>
                                                <p><br/></p>
                                                <div ng-show="message.length>0" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-remove"> </span>  {{message}}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title" style="font-size: 20px;"><span class="glyphicon glyphicon-star-empty"></span> Cidade</h2>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="img/icon-map.png" class="img-responsive" />
                                            </div>
                                            <div class="col-sm-7">
                                                <h4>Os melhores centros médicos na sua cidade</h4>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <!--Pesquisa por cidade ou cep-->
                                            <div class="col-sm-12">
                                                <p></p><p><br/></p>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="cep" style="font-size: 24px;"><span class="glyphicon glyphicon-search"></span></span>
                                                    <input ng-enter="getUnidadeCity()" type="text" ng-model="city" class="form-control" aria-describedby="cep" style="font-size: 20px; height:50px; width: 100% !important">
                                                </div><p></p>
                                            </div>
                                            <div class="col-sm-12" ng-cloak>
                                                <p></p>
                                                <button type="submit" ng-click="getUnidadeCity();" class="btn btn-success" style="font-size: 20px; margin-top: 10px; margin-bottom: 20px; height:50px; width: 100% !important">Buscar em {{city}}</button>
                                                <p><br/></p>
                                                <div ng-show="message.length>0" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-remove"> </span>  {{message}}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-sm-5">
                    <h2>Consulte clínicas, consultórios, hospitais e postos de saúde gratuitamente. </h2>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-7">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>Por que Saúde Advisor?</h4>
                        </div>
                        <div class="panel-body">
                            <div style="padding: 10px;">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4><span class="glyphicon glyphicon-ok"> </span> Descubra se o local possui bom atendimento, higiene e limpeza, estrutura adequada e recomendações;</h4>
                                            <p><br/></p>
                                            <h4><span class="glyphicon glyphicon-ok"> </span> Obtenha o endereço, o telefone e o mapa do local;</h4>
                                            <p><br/></p>
                                            <h4><span class="glyphicon glyphicon-ok"> </span> Dê sua opinião para ajudar outras pessoas.</h4>
                                            <p><br/></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <h3>Mais de <em class="splash-text"> 260 mil </em> centros médicos em todo o Brasil.<br/><br/>
                        Informações sobre qualidade e atendimento através de avaliações e experiências de pacientes e familiares.</h3>

                    <p></p>
                    <div class="social">
                        <h4>Siga-nos</h4>
                        <a href="https://www.facebook.com/saudeadvisor" target="_blank"><img src="/img/facebook.png" alt="Facebook" title="Facebook" /></a>
                        <a href="https://twitter.com/saudeadvisor" target="_blank"><img src="/img/twitter.png" alt="Twitter" title="Twitter" /></a>
                        <a href="https://plus.google.com/+Saudeadvisor2015" rel="publisher" target="_blank"><img src="/img/plus.png" alt="Plus" title="Plus" /></a>
                        <a href="http://instagram.com/saudeadvisor/" target="_blank"><img src="/img/instagram.png" alt="Instagram" title="Instagram" /></a>
                        <a href="https://medium.com/@saudeadvisor" target="_blank"><img src="/img/medium.png" alt="Medium" title="Medium" /></a>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-12">
                <!-- #include virtual="/partials/footer.html" -->
            </div>
        </div>
    </div>

</div>
<!-- #include virtual="/partials/scripts.html" -->
<script src="/js/mainCtl.js"></script>
</body>
</html>