<!DOCTYPE html>
<html ng-app="buscaSaude">
<head lang="pt-BR">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="dicas de hospitais, encontre, dicas de clinicas, dicas de laboratorios, mapa, bom atendimento, avaliacoes, opinioes, postos de saude">
    <meta name="description" content="Encontre bom atendimento, informações, avaliações e comentários de hospitais, clínicas, laboratórios e postos de saúde no Brasil">
    <title>Saúde Advisor - Centros médicos na região</title>
    <!-- #include virtual="/partials/styles.html" -->
</head>
<body ng-controller="regiaoCtl">
<div>
    <!-- #include virtual="/partials/nav.html" -->
    <div class="container space-top">
        <div class="row">
            <div class="col-sm-12">
                <div class="row" >
                    <div class="col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2>{{cidade}}</h2>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-success">
                                            <div class="panel-body" ng-cloak>
                                                <h4>{{count}} centros médicos em {{cidade}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" ng-cloak>
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <h4>Melhores unidades de saúde na região*</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-4">

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <br/>
                                                            <div class="progress vertical" style="height:100px">
                                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height:{{melhores[0].Score}}px; width: 100%;">
                                                                    <div style="margin-top: 8px;padding: 5px;min-width: 60px;font-size: 22px;">
                                                                        1º
                                                                    </div>
                                                                </div>
                                                            </div>
                                                                </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <strong><a href="/Unidade/centro-medico.html?id={{melhores[0].Id}}"> {{ melhores[0].Name }}</a> </strong>
                                                                <br/><br/>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                        <div class="col-sm-12"><br/>
                                                        <div class="progress vertical" style="height:100px">
                                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height:{{melhores[1].Score}}px; width: 100%;">
                                                                <div style="margin-top: 8px;padding: 5px;min-width: 60px;font-size: 22px;">
                                                                    2º
                                                                </div>
                                                            </div>
                                                        </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <strong><a href="/Unidade/centro-medico.html?id={{melhores[1].Id}}"> {{ melhores[1].Name }}</a> </strong>
                                                                <br/><br/>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-4">

                                                        <div class="row">
                                                            <div class="col-sm-12"><br/>
                                                                <div class="progress vertical" style="height:100px">
                                                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height:{{melhores[2].Score}}px; width: 100%;">
                                                                        <div style="margin-top: 8px;padding: 5px;min-width: 60px;font-size: 22px;">
                                                                            3º
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <strong><a href="/Unidade/centro-medico.html?id={{melhores[2].Id}}"> {{ melhores[2].Name }}</a> </strong>
                                                                <br/><br/>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                            <div class="panel-footer">
                                                <span>* Segundo avaliação de pacientes e usuários</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" ng-cloak>
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h4>Últimos comentários de pacientes</h4>
                                            </div>
                                            <div class="panel-body" style="height: 270px;overflow:scroll;overflow-x: hidden;">
                                                <div ng-show="Avaliacoes" ng-repeat="c in Avaliacoes" style="padding: 10px;">
                                                    <span ng-show="c.NotaRecomenda > 50"><img src="/img/green-hand.png" /></span>
                                                    <span ng-show="c.NotaRecomenda < 50"><img src="/img/red-hand.png" /></span>
                                                    <span style="margin-left: 20px;">{{c.Comentario}}</span>
                                                    <p></p>

                                                    <p><strong ng-show="!c.Anonimo">{{c.Nome}}</strong>
                                                        <strong ng-show="c.Anonimo">Anônimo </strong>
                                                        sobre <strong><a href="/Unidade/centro-medico.html?id={{c.UnidadeId}}">{{c.Unidade}}</a> </strong><br/>
                                                        em <strong>{{c.Data  | date:'dd/MM/yyyy'}}</strong></p>

                                                    <hr/>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <span>Dica: Avalie centros médicos que você conhece para ajudar outras pessoas!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-cloak>
                                    <div class="col-sm-12">
                                        <div class="panel panel-warning" ngCloak ng-show="unidades.length==0">
                                            <div class="panel-body" style="text-align: center;">
                                                <h4>Nenhum registro encontrado</h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-warning" ng-cloak ng-show="unidades.length>0">
                                            <div class="panel-heading">
                                                <h3>Hospitais, clínicas, postos de saúde e laboratórios em {{cidade}}</h3>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="nome">Filtrar</span>
                                                    <input type="text" ng-model="searchText" class="form-control" placeholder="" aria-describedby="nome">
                                                </div>
                                            </div>
                                            <div >
                                                <div class="card-list" style="background-color:{{getColor($index);}}" ng-click="getDetail(unidade.Id, unidade.Name)" ng-repeat="unidade in unidades | filter: searchText">

                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <strong>{{unidade.Name}}</strong><br/>
                                                            {{unidade.Endereco.Logradouro}}, {{unidade.Endereco.Numero}}<br/>
                                                            {{unidade.Endereco.Cidade.Name}}
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <span>Comentários:
                                                            <span ng-show="unidade.Avaliacoes"><b>{{unidade.Avaliacoes.length}}</b></span>
                                                            <span ng-show="unidade.Avaliacoes == 0">
                                                                <div class="btn btn-warning"> Seja o primeiro! </div>
                                                            </span>
                                                            </span>
                                                        </div>
                                                        <!--<div class="col-sm-4" style="background-color: #fff;">
                                                            <div>
                                                                <img ng-show="{{unidade.Score}} > 0" src="/img/star.png" />
                                                                <img ng-show="{{unidade.Score}} > 29" src="/img/star.png" />
                                                                <img ng-show="{{unidade.Score}} > 49" src="/img/star.png" />
                                                                <img ng-show="{{unidade.Score}} > 69" src="/img/star.png" />
                                                                <img ng-show="{{unidade.Score}} > 99" src="/img/star.png" />
                                                            </div>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




        <!-- #include virtual="/partials/footer.html" -->
    </div>
</div>
<!-- #include virtual="/partials/scripts.html" -->
<script src="/js/regiaoCtl.js" ></script>
</body>
</html>