<!DOCTYPE html>
<html ng-app="buscaSaude">
<head lang="pt-BR">
    <!-- #include virtual="/partials/styles.html" -->
    <title>Painel - Avaliacoes</title>
</head>
<body ng-controller="avaliacoesCtl">
<div class="container  space-top">
    <div class="loading" ng-show="loading">
        <img src="/img/ajax-loader.gif" />
        <p>Carregando</p>
    </div>

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <div ng-repeat="u in unidades" style="background-color: #ccc;padding:10px; ">
                <p>Unidade: {{u.Name}}</p>
                <div style="background-color: #fff;border:1px solid #ccc; padding:10px;" ng-show="u.Avaliacoes" ng-repeat="c in u.Avaliacoes | orderBy:Data:reverse" style="padding: 10px;">
                    <span ng-show="c.NotaRecomenda > 50"><img src="/img/green-hand.png" /></span>
                    <span ng-show="c.NotaRecomenda < 50"><img src="/img/red-hand.png" /></span>
                    <span style="margin-left: 20px;">{{c.Descricao}}</span>
                    <p></p>
                    <p><strong ng-show="!c.Anonimo">{{c.Name}}</strong>
                        <strong ng-show="c.Anonimo">Anônimo </strong>
                        em <strong>{{c.Data  | date:'dd/MM/yyyy'}}</strong></p>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>
<!-- #include virtual="/partials/scripts.html" -->
<script src="/js/avaliacoesCtl.js"></script>
</body>
</html>