<!DOCTYPE html>
<html ng-app="buscaSaude">
<head lang="pt-BR">
    <!-- #include virtual="/partials/styles.html" -->
    <title>Painel - Mensagens</title>
</head>
<body ng-controller="mensagensCtl">

<div class="container  space-top">
    <div class="loading" ng-show="loading">
        <img src="/img/ajax-loader.gif" />
        <p>Carregando</p>
    </div>

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <div ng-repeat="msg in mensagens">
                <p>Centro Medico: {{msg.CentroMedico}}</p>
                <p>Nome: {{msg.Name}}</p>
                <p>Email: {{msg.Email}}</p>
                <p>Telefone: {{msg.Telefone}}</p>
                <p>Comentario: {{msg.Descricao}}</p>
                <hr/>
            </div>

        </div>
    </div>
</div>
<!-- #include virtual="/partials/scripts.html" -->
<script src="/js/mensagensCtl.js"></script>
</body>
</html>