<!DOCTYPE html>
<html ng-app="buscaSaude">
<head lang="pt-BR">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="dicas de hospitais, encontre, dicas de clinicas, dicas de laboratorios, mapa, bom atendimento, avaliacoes, opinioes, postos de saude">
    <meta name="description" content="Encontre bom atendimento, informações, avaliações e comentários de hospitais, clínicas, laboratórios e postos de saúde no Brasil">
    <title>Saúde Advisor - Centro médico</title>
    <!-- #include virtual="/partials/styles.html" -->
</head>
<body ng-controller="unidadeCtl">
    <!-- #include virtual="/partials/nav.html" -->

<div class="container  space-top">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="loading" ng-show="loading">
                        <img src="/img/ajax-loader.gif" />
                        <p>Carregando</p>
                    </div>
                    <div ng-cloak class="panel panel-primary">
                        <div class="panel-heading">
                            <h2>{{u.Name}}</h2>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4>Estatísticas desta unidade de saúde</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div ng-show="pontuacao">
                                                <span><strong>Infraestrutura</strong></span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{pontuacao.Infraestrutura}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pontuacao.Infraestrutura| number:2}}%;">
                                                        {{pontuacao.Infraestrutura | number:0}}%
                                                    </div>
                                                </div>
                                                <span><strong>Atendimento</strong></span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=" {{pontuacao.Atendimento}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pontuacao.Atendimento| number:2}}%;">
                                                        {{pontuacao.Atendimento| number:0}}%
                                                    </div>
                                                </div>
                                                <span><strong>Limpeza / Higiene</strong></span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{pontuacao.LimpezaHigiene}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pontuacao.LimpezaHigiene| number:2}}%;">
                                                        {{pontuacao.LimpezaHigiene| number:0}}%
                                                    </div>
                                                </div>
                                                <span><strong>Recomendações</strong></span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{pontuacao.Recomendacoes}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pontuacao.Recomendacoes| number:2}}%;">
                                                        {{pontuacao.Recomendacoes| number:0}}%
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <strong>Pontuação média:</strong>
                                                        </div>
                                                        <div class="col-sm-3"><span style="text-align: center; font-size:32px;font-weight: bold;">{{pontuacao.PontuacaoMedia| number:0}}%</span></div>
                                                        <div class="col-sm-3">
                                                            <strong>Avaliação média:</strong>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p>

                                                                <span ng-show="pontuacao.PontuacaoMedia < 20"><img src="/img/blank-star.png" /></span>
                                                                <span ng-show="pontuacao.PontuacaoMedia >= 20"><img src="/img/star.png" /></span>
                                                                <span ng-show="pontuacao.PontuacaoMedia >= 40"><img src="/img/star.png" /></span>
                                                                <span ng-show="pontuacao.PontuacaoMedia >= 60"><img src="/img/star.png" /></span>
                                                                <span ng-show="pontuacao.PontuacaoMedia >= 80"><img src="/img/star.png" /></span>
                                                                <span ng-show="pontuacao.PontuacaoMedia >= 100"><img src="/img/star.png" /></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h4>Dê sua opinião</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div ng-show="!sent">
                                                <h4></h4>
                                            </div>
                                            <div ng-show="sent">
                                                <h4>{{agradece}}, obrigado pelo seu comentário!</h4>
                                                <p></p>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p></p>
                                                        <div class="input-group">
                                                            <a href="javascript:window.history.go(-1)" class="btn btn-success pull-right" type="button"><span class="glyphicon glyphicon-chevron-left"></span><b> Última pesquisa</b></a>
                                                            <a href="/" class="btn btn-success pull-right" type="button"><span class="glyphicon glyphicon-home"></span><b> Início</b></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="social">
                                                            <h4>Siga-nos</h4>
                                                            <a href="https://www.facebook.com/saudeadvisor" target="_blank"><img src="/img/facebook.png" alt="Facebook" title="Facebook" /></a>
                                                            <a href="https://twitter.com/saudeadvisor" target="_blank"><img src="/img/twitter.png" alt="Twitter" title="Twitter" /></a>
                                                            <a href="https://plus.google.com/+Saudeadvisor2015" rel="publisher" target="_blank"><img src="/img/plus.png" alt="Plus" title="Plus" /></a>
                                                            <a href="http://instagram.com/saudeadvisor/" target="_blank"><img src="/img/instagram.png" alt="Instagram" title="Instagram" /></a>
                                                            <a href="https://medium.com/@saudeadvisor" target="_blank"><img src="/img/medium.png" alt="Medium" title="Medium" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="font-size: 16px;" ng-show="!sent">
                                                <div class="row">
                                                    <div class="col-sm-5" >
                                                        <p style="padding-left: 15px;"><strong> Limpeza e higiene</strong></p>
                                                    </div>
                                                    <div class="col-sm-5" >
                                                        <p>
                                                            <img ng-src="{{notasHL.e}}" ng-click="setHLRate(20)" />
                                                            <img ng-src="{{notasHL.d}}" ng-click="setHLRate(40)"  />
                                                            <img ng-src="{{notasHL.c}}" ng-click="setHLRate(60)"  />
                                                            <img ng-src="{{notasHL.b}}" ng-click="setHLRate(80)"  />
                                                            <img ng-src="{{notasHL.a}}" ng-click="setHLRate(100)" />
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-2" ></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5" >
                                                        <p style="padding-left: 15px;"><strong>Atendimento</strong></p>
                                                    </div>
                                                    <div class="col-md-5" >
                                                        <p>
                                                            <img ng-src="{{notasAT.e}}" ng-click="setATRate(20)" />
                                                            <img ng-src="{{notasAT.d}}" ng-click="setATRate(40)"  />
                                                            <img ng-src="{{notasAT.c}}" ng-click="setATRate(60)"  />
                                                            <img ng-src="{{notasAT.b}}" ng-click="setATRate(80)"  />
                                                            <img ng-src="{{notasAT.a}}" ng-click="setATRate(100)" />
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-2" ></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5" >
                                                        <p style="padding-left: 15px;"><strong>Estrutura</strong></p>
                                                    </div>
                                                    <div class="col-md-5" >
                                                        <p>
                                                            <img ng-src="{{notasES.e}}" ng-click="setESRate(20)" />
                                                            <img ng-src="{{notasES.d}}" ng-click="setESRate(40)" />
                                                            <img ng-src="{{notasES.c}}" ng-click="setESRate(60)" />
                                                            <img ng-src="{{notasES.b}}" ng-click="setESRate(80)" />
                                                            <img ng-src="{{notasES.a}}" ng-click="setESRate(100)" />
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-2" ></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5" >
                                                        <p style="padding-left: 15px;"><strong>Opinião geral</strong></p>
                                                    </div>
                                                    <div class="col-md-5" >
                                                        <p>
                                                            <img ng-src="{{notasOG.e}}" ng-click="setOGRate(20)" />
                                                            <img ng-src="{{notasOG.d}}" ng-click="setOGRate(40)" />
                                                            <img ng-src="{{notasOG.c}}" ng-click="setOGRate(60)" />
                                                            <img ng-src="{{notasOG.b}}" ng-click="setOGRate(80)" />
                                                            <img ng-src="{{notasOG.a}}" ng-click="setOGRate(100)"/>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-2" ></div>
                                                </div>
                                            </div>
                                            <p></p>
                                            <div ng-show="!sent">
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="com"><span class="glyphicon glyphicon-align-justify"></span></span>
                                                    <textarea ng-model="avaliacao.Dados.Descricao" class="form-control" placeholder="Comentário" rows="3" id="comment"></textarea>
                                                </div>
                                                <p></p>
                                                <div class="input-group" ng-show="!avaliacao.Dados.Anonimo">
                                                    <span class="input-group-addon" id="nome"><span class="glyphicon glyphicon-user"></span></span>
                                                    <input ng-model="avaliacao.Dados.Name" type="text" class="form-control" placeholder="Nome" aria-describedby="nome">
                                                </div>
                                                <input type="checkbox" ng-model="avaliacao.Dados.Anonimo" ><span> Comentário anônimo (seu nome não será divulgado).</span>
                                                <p></p>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="email"><span class="glyphicon glyphicon-envelope"></span></span>
                                                    <input ng-model="avaliacao.Dados.Email" type="text" class="form-control" placeholder="Email" aria-describedby="email">
                                                </div>
                                                <span style="color:red;">*Seu email não será divulgado.</span>
                                                <p></p>
                                                <button type="submit" class="btn btn-success" ng-click="sendAvaliacao()">Enviar opinião</button>
                                                <div style="margin-top: 6px;" ng-show="message.length>0" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-remove"> </span>  {{message}}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <h4>Informações gerais</h4>
                                        </div>
                                        <div class="panel-body">
                                            <strong>Telefones:</strong><br/>
                                            <p ng-show="u.Telefones.length>0 && u.Telefones[0].Numero.length>0">
                                                <span class="glyphicon glyphicon-earphone"></span>
                                                <span ng-show="u.Telefones[0].DDD.length>0">({{ u.Telefones[0].DDD }}) </span>
                                                {{ u.Telefones[0].Numero }}
                                            </p>
                                            <p ng-show="u.Endereco"><strong>Endereço:</strong><br/>{{u.Endereco.Logradouro}}, {{u.Endereco.Numero}}<span ng-show="u.Endereco.Bairro"> - {{u.Endereco.Bairro}}</span><br/>
                                                <span ng-show="u.Endereco.CEP.length > 5 && u.Endereco.CEP.length<10">CEP: {{u.Endereco.CEP}} <br/></span>
                                                {{u.Endereco.Cidade.Name}} <span ng-show="u.Endereco.Cidade.Estado.UF"> - {{u.Endereco.Cidade.Estado.UF}}</span>
                                            </p>

                                            <div>
                                                <input type=hidden id="la" name="la" value="{{u.Endereco.Location.Coordinates[1]}}"/>
                                                <input type=hidden id="lo" name="lo" value="{{u.Endereco.Location.Coordinates[0]}}"/>
                                                <button id="showMapButton" class="btn btn-info" onclick="showMap();">Exibir mapa</button>
                                                <div id="map" style="display:none;width: 100%; height: 400px; background: #ccc" ></div>
                                                <p></p>
                                            </div>
                                            <p><br/></p>
                                        </div>
                                    </div>
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h4>Comentários e avaliações</h4>
                                        </div>
                                        <div class="panel-body" style="height: 320px;overflow:scroll;overflow-x: hidden;">
                                            <div ng-show="u.Avaliacoes" ng-repeat="c in u.Avaliacoes | orderBy:Data:reverse" style="padding: 10px;">
                                                <span ng-show="c.NotaRecomenda > 50"><img src="/img/green-hand.png" /></span>
                                                <span ng-show="c.NotaRecomenda < 50"><img src="/img/red-hand.png" /></span>
                                                <span style="margin-left: 20px;">{{c.Descricao}}</span>
                                                <p></p>

                                                <p><strong ng-show="!c.Anonimo">{{c.Name}}</strong>
                                                    <strong ng-show="c.Anonimo">Anônimo </strong>
                                                    em <strong>{{c.Data  | date:'dd/MM/yyyy'}}</strong></p>

                                                <hr/>
                                            </div>
                                            <div ng-show="!u.Avaliacoes" >
                                                <h3>Nenhuma recomendação. Seja o primeiro!</h3>
                                                <img src="/img/left-arrow.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #include virtual="/partials/footer.html" -->
</div>
    <!-- #include virtual="/partials/scripts.html" -->
    <script src="/js/unidadeCtl.js"></script>

    <link rel="stylesheet" type="text/css" href="http://js.api.here.com/v3/3.0/mapsjs-ui.css" />
    <script type="text/javascript" charset="UTF-8" src="http://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" charset="UTF-8" src="http://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="http://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
    <script type="text/javascript"  charset="UTF-8" src="http://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script  type="text/javascript" charset="UTF-8" >
        function showMap(){
            document.getElementById("map").style.display = 'block';
            document.getElementById("showMapButton").style.display = 'none';

            function moveMapToUnidade(map){
                map.setCenter({lat: document.getElementById('la').value, lng:  document.getElementById('lo').value});
                map.setZoom(16);
            }

            var platform = new H.service.Platform({
                app_id: 'WV1ejBrcW9Im7ym1Djii',
                app_code: 'hV9Ermv8lTXCi_bDRmWlZA',
                useCIT: true
            });
            var defaultLayers = platform.createDefaultLayers();
            var map = new H.Map(document.getElementById('map'),defaultLayers.normal.map);
            var marker = new H.map.Marker({lat: document.getElementById('la').value, lng: document.getElementById('lo').value});
            map.addObject(marker);
            var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
            var ui = H.ui.UI.createDefault(map, defaultLayers);
            moveMapToUnidade(map);
        }
    </script>
</body>
</html>