<!DOCTYPE html>
<html ng-app="buscaSaude">
<head lang="pt-BR">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="dicas de hospitais, encontre, dicas de clinicas, dicas de laboratorios, mapa, bom atendimento, avaliacoes, opinioes, postos de saude">
    <meta name="description" content="Encontre bom atendimento, informações, avaliações e comentários de hospitais, clínicas, laboratórios e postos de saúde no Brasil">
    <title>Saúde Advisor - Lista de centros médicos</title>
    <!-- #include virtual="/partials/styles.html" -->
</head>
<body ng-controller="listaUnidadesCtl">
<!-- #include virtual="/partials/nav.html" -->

<div class="container  space-top">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12" ng-cloak>
                                    <h4>Resultado da pesquisa por: {{ name }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="loading" ng-show="loading">
                                <img src="/img/ajax-loader.gif" />
                                <p>Carregando</p>
                            </div>

                            <div class="row" ng-cloak>
                                <div class="col-md-12">
                                    <div class="panel panel-warning" ngCloak ng-show="unidades.length==0">
                                        <div class="panel-body" style="text-align: center;">
                                            <h4>Nenhum registro encontrado</h4>
                                        </div>
                                    </div>
                                    <div class="panel panel-warning" ng-cloak ng-show="unidades.length>0">
                                        <div class="panel-heading">
                                            <p></p>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="nome">Filtrar</span>
                                                <input type="text" ng-model="searchText" class="form-control" placeholder="" aria-describedby="nome">
                                            </div>
                                            <p></p>
                                            <span ng-cloak ng-show="unidades.length==1"><b>{{unidades.length}} registro encontrado.</b></span>
                                            <span ng-cloak ng-show="unidades.length>1"><b>{{unidades.length}} registros encontrados.</b></span>
                                        </div>
                                        <div >
                                            <div class="card-list" style="background-color:{{getColor($index);}}" ng-click="getDetail(unidade.Id, unidade.Name)" ng-repeat="unidade in unidades | filter: searchText">
                                                <strong>{{unidade.Name}}</strong><br/>
                                                {{unidade.Endereco.Logradouro}}, {{unidade.Endereco.Numero}}<br/>
                                                {{unidade.Endereco.Cidade.Name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #include virtual="/partials/footer.html" -->
</div>
<!-- #include virtual="/partials/scripts.html" -->
<script src="/js/listaUnidadesCtl.js"></script>
</body>
</html>